$background: #fff;
$background-image: url(../img/m-h-day.jpg);
$background-text-color: #14A0C7;
$text-color: #2C2F3C;
$font-weights: ("mini-bold": 600, "bold": 700);
$white-color: #fff;
$other-text-color: #BDBCC0;
$button-background-color: #699900;
$main-background-color: #21232E;
$gradient: #305ECA;
