$background: #21232E;
$background-image: url(../img/m-h-night.jpg);
$background-text-color: #FF4E33;
$text-color: #FDFBF9;
$font-weights: ("mini-bold": 600, "bold": 700);
$white-color: #fff;
$other-text-color: #BDBCC0;
$button-background-color: #E3AC00;
$main-background-color: #3B3F50;
$gradient: #97344D;