html, body {
    margin: 0;
    padding: 0;
    width: 100%;
}

*, *::before, *::after {
    box-sizing: border-box;
}

header .header-caption {
    font-size: 14px;
    color: #777;
    text-transform: uppercase;
}

header .upper-header-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin: auto;
    position: fixed;
    z-index: 2;
    background-color: #fff;
}
header .upper-header-section .upper-header-section-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 1400px;
}


header nav ul {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    width: 350px;
}

header nav ul li a:hover {
    color: #bfba55;
}

header nav ul li a {
    text-decoration: none;
    color: #777;
}

header .main-header-section {
    top: 50px;
    background: url("../img/home-bg.jpg") no-repeat;
    max-width: 1400px;
    height: 700px;
    margin: auto;
    position: relative;
}

header .main-header-section::before {
    content: '';
    position: absolute;
    top: 0;
    width: 1400px;
    height: 700px;
    left: 0;
    right: 50px;
    bottom: 0;
    background-color: rgba(0,0,0,0.7);  
}

header .main-header-section .header-section-wrapper {
    display: flex;
    height: 100%;
    max-width: 1400px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #FFFFFF;
    z-index: 1;
    position: absolute;
    top: 0; 
    left: 0; 
    bottom: 0; 
    right: 0;
    margin: auto;
}

header .main-header-section .header-section-wrapper h2 {
    font-size: 54px;
    width: 800px;
    text-align: center;
    height: 70px;
}

header .main-header-section .header-section-wrapper p {
    color: #bfba55;
    margin-top: -30px;
}

header .main-header-section .header-section-wrapper button {
    width: 200px;
    height: 50px;
    color: #777;
    font-size: 18px;
    font-weight: bold;
    background-color: #FFFFFF;
    border-radius: 200px;
    border: none;
    cursor: pointer;
    margin-top: 30px;
}

main {
    margin: auto;
    max-width: 900px;
    margin-top: 100px;
}

main .container .block-img {
    width: 850px;
    height: 500px;
}

main .container hr {
    margin: 50px 0 85px 0;
    opacity: 0.2;
}

main .container .author-img {
    width: 40px;
    height: 40px;
    border-radius: 150px;
}

main .container .author {
    display: flex;
    align-items: center;
    width: 310px;
    justify-content: space-between;
}

main .container button {
    width: 200px;
    height: 50px;
    color: #777;
    font-size: 16px;
    font-weight: bold;
    background-color: #FFFFFF;
    border-radius: 200px;
    border: 1px solid #777;
    cursor: pointer;
    margin-top: 20px;
    opacity: 0.8;
}

main p, span {
    color: #777;
}

footer {
    max-width: 1400px;
    height: 200px;
    background-color: #000;
    margin: auto;
    color: white;
    margin-top: 100px;
}

footer .footer-wrapper {
    display: flex;
    justify-content: space-between;
    margin: auto;
    max-width: 900px;
}

footer .footer-wrapper .left-side {
    width: 450px;
}

footer .footer-wrapper .left-side h2 {
    color: #fff;
}

footer .footer-wrapper .left-side p, span {
    color: #777;;
}

footer .footer-wrapper .right-side h2 {
    color: #fff;;
}


footer .footer-wrapper .right-side p {
    color: #777;;
}

