.folder-color {
    color: #ca0;
}

li {
    list-style-type: none;
    cursor: pointer;
}

.gray {
    color: gray;
}

li:hover {
    background-color: lightgray;
}

.display-none {
    display: none;
}

.active {
    display: block;
}