.tm-nav-item:hover {
    background-color: lightskyblue;
}

.tm-main-nav {
    box-shadow: 0 8px 6px -6px rgba(61, 55, 61, 0.7); 
} 

#home {
    background: linear-gradient(to left, burlywood,  lightskyblue);
    box-shadow: 0px 0px 13px 0px rgba(61, 55, 61, 0.7);  
}

section {
    box-shadow: 0px 0px 13px 0px rgba(61, 55, 61, 0.7);
}

section::before {
    content: '';
    border: 1.5em solid;
    border-color: lightskyblue transparent transparent lightskyblue;	 
}

.tm-banner-inner {
    background-color: white;
}

.tm-banner-text {
    text-shadow: #333 5px 5px 3px;
    animation-duration: 3s;
    animation-name: text-animations;
}

@keyframes text-animations {
    from {
        margin-left: 200px;
    }
    
    to {
        margin-left: 0%;
    }
}

section .tm-content-box:first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%; 
}

section .tm-content-box:first-child p {
    text-indent: 25px;
}

section .tm-team-description-container h2{
    text-align: center;
}

section #about ul .box-bg:hover {
    background-color: lightgrey;
    font-style: italic;
}

section .padding-medium h2 {
    text-align: center;
    color: lightskyblue;
}

section .padding-medium ol li {
    list-style-type: lower-alpha;
}

section .padding-medium ol li:hover::before {
    content: ">";
}

section .padding-medium ol li:nth-child(-2n +3)::after {
    content: "New";
    color: red;
    vertical-align: super;
    font-size: 11px;
    font-weight: bold;
    font-variant: small-caps;
}

.blocks .padding-medium h2 {
    text-align: left;
}

.blocks .padding-medium p:last-child {
    font-style: italic;
    letter-spacing: 5px;
    word-spacing: 10px; 
}

.blocks .padding-medium p {
    text-indent: 25px;
}

.blocks .tm-content-box:last-child ul li:nth-child(even) {
    border: 10px solid white;
}

.blocks .tm-content-box:last-child ul li:nth-child(odd) {
    background-color: lightskyblue;
    color: white;
    border: 10px solid lightskyblue;
}

.blocks .tm-content-box:last-child p:first-letter {
    font-weight: bold;
}

#ideas .tm-section-description  {
    line-height: 30px;
    text-indent: 25px;
}

#contact form input {
    border: none;
    border-bottom: 1px solid lightskyblue;
}

#contact form input:focus {
    background-color: lightskyblue;
}

 #contact form button {
    background-color: white;
    color: lightskyblue;
    border: 1px solid lightskyblue;
    float: right;
} 

#contact form textarea {
    background: url(../img/email-icon.png) no-repeat;
    background-size: 30px;
    background-position: right bottom;
    background-position-y: 95%;
    background-position-x: 99%;
    border: 1px solid lightskyblue;
    height: 200px;
}

@media print {
    section {
        height: 150px;
         margin-bottom: 35px;
    }

    .heading {
        height: 230px;
    }

    .container {
        max-width: 1500px; 
    }

    #home {
        height: 200px;
        margin-top: -130px;    
    }

    .tm-content-box .padding-medium {
        margin-top: -47px;
        height: 180px;
    }

    .heading .padding-medium {
        height: 250px;
    }

    .blocks .padding-medium {
        margin-top: -70px;
        height: 120px;
        background: none;
    }

    .tm-sidebar, section .tm-team-img, section #about,
    .blocks .tm-content-box .boxes, .tm-content-box img, #contact,
    section::before, .carousel-indicators, section .padding-medium ol li::after {
        display: none;
    }

    #home img {
        display: block;
    }

    .tm-content-box .padding-medium p {
        text-align: center;
    }

    section .tm-content-box .padding-medium {
        max-width: none;
        width: 100%;
    }

    section .tm-content-box .padding-medium p {
        text-indent: unset;
    }

    section .padding-medium ol {
        width: 390px;
        margin-left: 70px;
    }

    section .padding-medium ol li:nth-child(even) {
        margin-left: 50px;
        list-style-type: none;
        text-align: left;
    }

    section .padding-medium ol li:nth-child(odd) {
        list-style-type: none;
        text-align: right;
    }

    .blocks .padding-medium {
        text-align: center;
        max-width: 1000px;
    }

    .blocks .padding-medium h2 {
        text-align: center;
    }

    .carousel-content .flex-item {
        max-width: 900px;
        height: 135px;
        margin-top: 50px;
    }

    .carousel-description {
        text-align: center;
    }

    #ideas .tm-section-description  {
        line-height: 20px;
    }

    .tm-footer {
        margin-top: -170px;
    }
}